.footer {
/* Footer anchor box*/

position: absolute;
width: 1200px;
height: 170px;
left: 0px;
top: 2166px;
box-sizing: content-box;
}

footer a:any-link {
color: rgba(255, 255, 255, 0.4) !important;
}

.footer-background {
/* Background image box */

position: absolute;
width: 1200px;
height: 170px;
left: 0px;
top: 0px;

background: #464547;
}

.footer-logo-container {
/* Footer logo box */

position: absolute;
width: 128px;
height: 20px;
left: 145px;
top: 19px;
}

.footer-logo-box {
/* Small logo */

position: absolute;
width: 20px;
height: 20px;
left: 145px;
top: 19px;
}

.logo-small {
/* [PLACEHOLDER LOGO] */

position: absolute;
left: 145px;
top: 19px;
right: 0%;
bottom: 0%;
}

.footer-project-container {
/* PROJECT */

position: absolute;
width: 92px;
height: 16px;
left: 181px;
top: 2187px;
margin-top: -2166px;
box-sizing: content-box;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 16px;

/* identical to box height, or 89% */
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;
}

.footer-address {
/* 123 Street, Anytown, USA 12345 */

position: absolute;
width: 174px;
height: 33px;
left: 140px;
top: 2217px;
margin-top: -2166px;

font-family: Source Sans Pro;
font-style: normal !important;
font-weight: normal;
font-size: 16px;
line-height: 19px;

/* or 119% */

color: rgba(255, 255, 255, 0.4);
}

#footer-email {
/* hello@website.com */

position: absolute;
width: 142px;
height: 22px;
left: 140px;
top: 2256px;
margin-top: -2166px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

/* or 119% */

color: rgba(255, 255, 255, 0.4);
}

.footer-copyright {
/* © 2021 Project. All rights reserved */

position: absolute;
width: 243px;
height: 20px;
left: 140px;
top: 2278px;
margin-top: -2166px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

/* or 119% */

color: rgba(255, 255, 255, 0.4);
}