@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);

.menu-link-list {
/* Header */

position: absolute;
width: 651px;
height: 26px;
left: 37px;
top: 45px;
z-index: 1;
}

header a:any-link {
/* Forces style on all links */

text-decoration: none !important;
color: #FFFFFF !important;
}

.link-list-items {
/* Header menu */

position: absolute;
width: 395px;
height: 22px;
left: 256px;
top: 4px;
z-index: 100;
}

#primary-project {
/* PROJECT */

position: absolute;
width: 91px;
height: 16px;
left: 0px;
top: 0px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 16px;

/* identical to box height, or 80% */
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;
}

ul {
/* Flex container */

display: flex;
flex-wrap: wrap;
list-style-type: none !important;;
}

#list-projects {
/* PROJECTS */

position: absolute;
width: 81px;
height: 16px;
left: 0px;
top: 0px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

/* identical to box height, or 114% */
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;
}

#list-about {
/* ABOUT US */

position: absolute;
width: 100px;
height: 16px;
left: 100px;
top: 0px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

/* identical to box height, or 114% */
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;
}

#list-stories {
/* STORIES */

position: absolute;
width: 67px;
height: 16px;
left: 200px;
top: 0px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

/* identical to box height, or 114% */
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;
}

#list-contact {
/* CONTACT */

position: absolute;
width: 73px;
height: 16px;
left: 300px;
top: 0px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;
}