@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);

.hero-wrapper {
/* Hero */

position: absolute;
width: 1200px;
height: 800px;
left: 0px;
top: 0px;
right: 0px;
bottom: 1536px;
background: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png)
}


.hero-box {
/* Hero__block */

position: absolute;
width: 426px;
height: 292px;
left: 387px;
top: 252px;
box-sizing: content-box;
}


#logo-large {
/* [PLACEHOLDER LOGO] */

position: absolute;
left: 42%;
right: 0%;
top: 0%;
bottom: 0%;
box-sizing: content-box;
}

#hero-h2 {
/* Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod. */

position: absolute;
width: 526px;
height: 56px;
top: 227px;
left: -59px;
bottom: 0px;
right: 0px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
box-sizing: content-box;

/* or 133% */
text-align: center;

color: rgba(255, 255, 255, 0.7);
}

#hero-h1 {
/* Your Headline Here */

position: absolute;
width: 386px;
height: 118px;
left: 15px;
top: 72px;
right: 0px;
bottom: 0px;
box-sizing: content-box;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 60px;

text-align: center;

color: #FFFFFF;
}

.body-hero {
/* Desktop_Backgrounds_1920x1200_6 3 */

position: absolute;
width: 1200px;
height: 800px;;
}