@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);

.body-learn_more {
/* Rectangle behind IMG */

position: absolute;
width: 1200px;
height: 666px;
left: 0px;
bottom: 0px;
top: 1500px;

background: rgba(140, 79, 42, 0.3);
}

.learn_more-container {
/* Learn_more body */

position: absolute;
width: 1200px;
height: 666px;
left: 0px;
bottom: 0px;
top: 0px;
}


.learn_more-container #learn_more-background {
/* IMG_1334_72dpi_RGB_ 1 */

position: absolute;
width: 1200px;
height: 800px;
left: 0px;
bottom: 0px;
top: 0px;
background: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
}

.learn_more-button-wrapper {
/* Learn-more-button */

position: absolute;
width: 150px;
height: 150px;
left: 165px;
top: 170px;
}

.learn_more-button {
/* Ellipse 8 */

position: absolute;
width: 150px;
height: 150px;
left: 0px;
top: 0px;
border-radius: 100%;
transform: rotate(270deg);

background: #39C2D7;
}

#button-media {
/* Polygon 1 */

position: absolute;
width: 70px;
height: 55px;
top: 50px;
left: 47px;
bottom: 58px;
right: 46px;
line-height: 0;
letter-spacing: -0.2em;
font-weight: 300;
font-style: normal;

transform: rotate(90deg);
border: 0px;
border-radius: 2px;


font-size: 68px;

background: transparent;
color: white;
}

.learn_more-block {
/* Learn-more__block */

position: absolute;
width: 480px;
height: 492px;
left: 360px;
top: 84px;
}

.learn_more-block h3 {
font-weight: 500;
letter-spacing: -0.01px;
margin-left: -20px;
margin-top: 2px;
}

.learn_more-h3 {
/* Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. */

position: absolute;
width: 430px;
height: 102px;
left: 25px;
top: 385px;

font-family: source sans pro;
font-style: normal;
font-size: 24px;
line-height: 32px;

/* or 133% */
text-align: center;

color: #FFFFFF;
}

.learn_more-h2 {
/* Learn more about our culture... */

position: absolute;
width: 480px;
height: 117px;
left: -2px;
top: -1px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;

/* or 133% */
text-align: center;

color: #FFFFFF;
}