@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);

.middle-wrapper {
/* White background. */

position: absolute;
width: 1200px;
height: 700px;
left: 0px;
top: 800px;
bottom: 836px;

background: #EEEEEE;
}

#middle-h2 {
/* This is the Section Headline, Continues to Two Lines */

position: absolute;
width: 669px;
height: 119px;
left: 265px;
top: 87px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;

/* or 133% */
text-align: center;

color: #464547;
}

#middle-h3 {
/* Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod. */

position: absolute;
width: 475px;
height: 57px;
left: 362px;
top: 246px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;

/* or 133% */
text-align: center;

color: #666666;
}

.middle-p-wrapper {

display: flex;
flex-wrap: wrap;
position: absolute;
width: 983px;
height: 194px;
left: 0px;
top: 351px;
bottom: 155px;
right: 120px;
z-index: 1;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

/* or 137% */
text-align: left;

color: #000000;
}

#middle-p-left {
/* Lorem ipsum - paragraph-left */

position: absolute;
width: 408px;
height: 172px;
left: 149px;
top: 0;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #666666;
}

#middle-p-right {
/* Minim veniam - paragraph-right */

position: absolute;
width: 416px;
height: 172px;
left: 640px;
top: 0px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #666666;
}

.read-more-wrapper {
/* Content-button */

position: absolute;
width: 115px;
height: 36px;
left: 542px;
top: 566px;
}

.read-more-box {
/* Rectangle 8 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #55C2D8;
border-radius: 18px;
}

#read-more {
/* READ MORE */

position: absolute;
border-bottom-width: 0px;
border-bottom-style: solid;
border-right-width: 0px;
border-right-style: solid;
border-top-width: 0px;
border-top-style: solid;
border-left-width: 0px;
border-left-style: solid;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
top: 2px;
left: 22px;
right: 17px;
text-transform: uppercase;
letter-spacing: 0.118em;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 26px;

text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;
background: transparent;


}